:root {
  /* colors */
  --color-dark-maroon: #80287a;
  --color-dark-blue-grey: rgba(28, 36, 65, 0.93);
  /* navbar */
  --navbar-background: var(--color-dark-blue-grey);
  --navbar-font-color: var(--color-dark-maroon);
  /* footer */
  --footer-background-image: linear-gradient(to right, #f59423, #e2632a, #ca2136, #832778);
}
